#top
{
	margin:0px 0px 0px 0px;
	padding:none;
	display:table-cell;
	vertical-align:middle;
	background-image:url("../images/backgrounds/Lake-View-Moon-Background.png"), url("../images/div-backgrounds/70 Opacity.png");
	background-size:cover;
	overflow:hidden;
	width:100vw;
	height:100vh;
}

.topSpacer
{
	height:5%;
}

#titleContainer
{
	height:auto;
}

.downArrow
{
	width:100%;
	height:10vh;
}

.downArrow img
{
	height:100%;
	width:auto;
}

@media only screen and (min-width: 638px)
{
	/*hi*/
}

@media only screen and (min-width: 875px)
{
	/*hi*/
}

@media only screen and (min-width: 1050px)
{
	/*hi*/
}

@media only screen and (min-width: 1450px)
{
	/*hi*/
}