#navbar
{
	background-color:#DDDDDD;
	height: 10vw;
	margin: none;
	padding: none;
}

@media only screen and (min-width: 638px)
{
	#navbar
	{
		height: 8vw;
	}
}

@media only screen and (min-width: 875px)
{
	#navbar
	{
		height: 6vw;
	}
}

@media only screen and (min-width: 1050px)
{
	#navbar
	{
		height: 4vw;
	}
}

@media only screen and (min-width: 1450px)
{
	#navbar
	{
		height: 3vw;
	}
}