@font-face {
  font-family: 'VillageCustom';
  src: url('../fonts/Village.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Village.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Village.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Village.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Village.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Village.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}

body
{
	background-color:#EEEEEE;
	background-image:url(../images/backgrounds/Main.Background.jpg);
	background-size:cover;
	background-attachment:fixed;
	color:#FFFFFF;
	text-align:center;
	font-family:VillageCustom, Arial, sans-serif;
}

h1
{
	text-align:center;
	font-size:30pt;
	text-shadow: 3px 3px 5px red, -1.5px -1.5px 5px orangered;
}

h2:not(.link)
{
	text-align:center;
	text-shadow: 3px 3px 5px purple;
}

h3
{
	text-align:left;
	text-shadow: 3px 3px 5px darkblue;
}

p
{
	margin:0% 5% 0% 0%
}

a
{
	text-decoration:none;
}

a:link
{
	color:#00FFFF;
}

a:hover
{
	animation-name:linkHover;
	animation-duration:.25s;
	animation-fill-mode:forwards;
}

a:active
{
	color:#00FF00;
}

a:visited
{
	color:DeepPink;
}

li
{
	margin:0% 5% 0% 0%
}

img
{
	width:50%;
}

table:not(.picture)
{
	text-align:center;
	vertical-align:middle;
	margin:0% auto 0% auto;
}

#navbar
{
	position:fixed;
	top:0;
    left:0;
	width:100%;
	height:50px;
	display:table-row;
	z-index:1;
}

.navbarOption
{
	height:50px;
	padding:0px 25px 0px 25px;
	display:table-cell;
	background-color:#000000;
	opacity:.8;
	vertical-align:middle;
}

#navbarActiveOption
{
	height:50px;
	padding:0px 25px 0px 25px;
	display:table-cell;
	background-color:#000000;
	text-shadow:2px 2px 5px #0CF578, -2px -2px 5px #0CF578;
	opacity:.8;
	vertical-align:middle;
}

#navbarTitle
{
	height:50px;
	padding:0px 25px 0px 10px;
	display:table-cell;
	background-color:#000000;
	opacity:.8;
	vertical-align:middle;
}

#navbarLogo
{
	height:50px;
	padding:0px 0px 0px 0px;
	display:table-cell;
	background-color:#000000;
	opacity:.8;
	vertical-align:middle;
}

#navbarLogo img
{
	height:50px;
}

.navbarOption:hover
{
	opacity:1;
	text-shadow:2px 2px 5px #00FFFF, -2px -2px 5px #00FFFF;
}

.main
{
	background-image:url('../images/div backgrounds/80 opacity.png');
	margin-left:5%;
	margin-right:5%;
	width:90%;
	height:100%;
}

div.project
{
	width:195px;
	height:195px;
	overflow:hidden;
	margin:10px;
    position:relative;
}

img.project
{
	position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

td.project
{
	width:195px;
	box-shadow:0 4px 8px 0 #000000, 0 6px 20px 0 #000000;
}

td.project:hover
{
	animation-name:projectDivHover;
	animation-duration:.5s;
	animation-fill-mode:forwards;
}

td.spacer
{
	width:100px;
}

tr.spacer
{
	height:10px;
}

p.project
{
	height:40px;
}

div.steps
{
	text-align:left;
	padding:0% 0% 0% 7.5%;
}

ul.pokemon
{
	list-style-image:url(../images/poke.png);
}

ul.rubix
{
	list-style-image:url(../images/rubix.png);
}

ul.speaker
{
	list-style-image:url(../images/speaker.png);
}

h1.unowntext
{
	font-family:UnownCustom;
	text-align:center;
	font-size:26pt;
	text-shadow: 0px 0px 0px black;
}

h3.backToTop
{
	text-align:center;
	text-shadow: 3px 3px 5px darkblue, -3px -3px 5px darkblue;
}

h3.backToTop:hover
{
	animation-name:backToTopHover;
	animation-duration:.25s;
	animation-fill-mode:forwards;
}

@keyframes projectDivHover
{
    from
	{
		box-shadow:0 4px 8px 0 #000000, 0 6px 20px 0 #000000;
	}
    to
	{
		box-shadow:0 4px 8px 0 #00FFFF, 0 6px 20px 0 #00FFFF;
	}
}

@keyframes backToTopHover
{
    from
	{
		text-shadow: 3px 3px 5px darkblue, -3px -3px 5px darkblue;
	}
    to
	{
		text-shadow: 3px 3px 5px dodgerblue, -3px -3px 5px dodgerblue;
	}
}

@keyframes linkHover
{
    from
	{
		
	}
    to
	{
		text-shadow: 3px 3px 5px #0000FF, -3px -3px 5px #0000FF;
	}
}