body
{
	background:#0744A0; /* For browsers that do not support gradients */
	background:-webkit-linear-gradient(to bottom, #020024, #090979, #00D4FF);
	background:-o-linear-gradient(to bottom, #020024, #090979, #00D4FF);
	background:-moz-linear-gradient(to bottom, #020024, #090979, #00D4FF);
	background:linear-gradient(to bottom, #020024, #090979, #00D4FF);
	background-repeat:no-repeat;
	background-size:100% 100%;
}